/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {

  color: #190bea;
}

p {
  line-height: 2rem;
}
.dark-mode{
  background-color: #121212;
}

.sidenav-trigger {
  color: #190bea;
}

.parallax-container {
  text-shadow: 1px 3px 1px #fff;
  font-family: 'Geostar', regular;
  min-height: 380px;
  line-height: 7;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.webLinkTwo{
  mix-blend-mode: luminosity;
}
.tape{
  fill:blue;

}
